@import './header';
@import './footer';
@import './sliders';
@import './options';
@import './photo-booths';
@import './photo-booth';
@import './faqs-menu';
@import './news';
@import './popup';
// @import './loadable-img';