@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.footer {
    margin-bottom: 40px;

    &__info {
        @include font-base("WorkSans Regular", 16px, normal, 500, 19px, left, $red, 0 0 4px 0);
    }

    h2 {
        @include font-base("Roboto Slab Regular", 32px, normal, 700, 36px, left, $black, 0 0 20px 0);
    }

    &__contacts {
        list-style: none;
        margin-bottom: 20px;

        li {
            p {
                @include font-base("Roboto Slab Regular", 20px, normal, 400, 32px, left, $black, 0 0 4px 0);
            }

            span {
                @include font-base("WorkSans Regular", 18px, normal, 400, 21px, left, $text-secondary, 0 0 20px 0);
                display: inline-block;
            }

            &:last-child {
                p {
                    @extend p;
                }

                span {
                    text-decoration: underline;
                }
            }

            &::after {
                content: "";
                display: block;
                width: 280px;
                height: 1px;
                background-color: #d5dae0;
                margin-top: 20px;
            }
        }
    }

    &__dev {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;

        span {
            @include font-base("Roboto Slab Regular", 20px, normal, 400, 32px, left, $black, 0 20px 0 0);
        }

        img {
            transition: 0.5s;
            animation: pulse-logo 2s ease-in-out infinite;

            &:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    &__tel,
    &__address,
    &__mail {
        background-size: 24px 24px;
        padding-left: 42px;
    }

    &__tel {
        background: url("../../assets/svg/phone.svg") no-repeat;
    }

    &__address {
        background: url("../../assets/svg/address.svg") no-repeat;
    }

    &__up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        p {
            @include font-base("Roboto Slab Regular", 20px, normal, 400, 32px, left, $red);
            padding: 0 20px;

            &:first-child {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 17px;
                    left: -15px;
                    width: 30px;
                    height: 2px;
                    background-color: $red;
                    display: block;
                }
            }

            &:last-child {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 17px;
                    right: -15px;
                    width: 30px;
                    height: 2px;
                    background-color: $red;
                    display: block;
                }
            }
        }

        img {
            max-width: 60px;
        }
    }
}

@keyframes pulse-logo {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
