@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;

    &__logo {
        padding: 10px 0 0 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__video-top {
        position: relative;

        .video-background {
            position: absolute;
            max-width: 285px;
            left: 23px;
            top: 25px;
        }

        .video-play {
            position: absolute;
            max-width: 70px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__main-title {
        margin: 18px 0 20px 0;
        display: flex;
        flex-direction: column;

        .colortext {
            @include font-base(("Roboto Slab Regular", sans-serif), 40px, normal, 700, 52px, left, $red, 0 0 20px 0);
            display: flex;
            flex-direction: column;

            span {
                @extend .colortext;
                color: $black;
                margin: 0;
            }
        }

        p {
            @include font-base(("WorkSans Regular", sans-serif), 16px, normal, 400, 21px, left);
            min-height: 81px;
        }
    }
}

.firsth-block__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 37px;
}

.second-block__row {
    @extend .firsth-block__row;
    margin: 0 15px;
}

.firsth-block__item,
.second-block__item {
    flex: 0 1 50%;
    min-width: 156px;
    min-height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    img {
        min-height: 50px;
    }

    p {
        @include font-base(("Roboto", sans-serif), 14px, normal, 600, 16px, center);
    }
}

.ellipse {
    filter: drop-shadow(0 0 7px $red);
}
