@import "/src/scss/variables";

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;

    &__logo {
        padding: 10px 0 0 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__video-top {
        position: relative;

        .video-background {
            position: absolute;
            max-width: 285px;
            left: 23px;
            top: 25px;
        }

        .video-play {
            position: absolute;
            max-width: 70px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__main-title {
        margin: 18px 0 20px 0;
        display: flex;
        flex-direction: column;

        h1 {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            .colortext {
                color: $red;
            }
        }

        p {
            line-height: 21px;
        }
    }
}

.firsth-block__row,
.second-block__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 37px;
}

.firsth-block__column,
.second-block__column {
    flex: 0 1 50%;
}

.firsth-block__item,
.second-block__item {
    min-width: 156px;
    min-height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    div {
        min-height: 50px;
        display: flex;
        align-items: center;
    }

    p {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        max-width: 117px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.ellipse {
    filter: drop-shadow(0 0 7px $red);
}
