@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.news {
    &__why-choose-us {
        @include font-base((("WorkSans Regular", sans-serif), sans-serif), 16px, normal, 400, 19px, left, $red);
    }

    &__faq {
        @include font-base(("Roboto Slab Regular", sans-serif), 32px, normal, 700, 42px, left, $black, 0 0 20px 0);
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__show-more-btn {
        @include font-base("Roboto", 18px, normal, 700, 18px, center, $red, 50px 0 0 0);
        min-width: 100%;
        min-height: 40px;
        border: 1px solid $red;
        border-radius: 5px;
        background: $white;

        &:hover {
            background: $dark-red;
            color: $white;
        }

        &:active {
            transform: translate(1px, 1px);
        }
    }
}

.news-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    transition: 0.2s;
    position: relative;
    animation: emergence-news 0.5s ease-in;

    &__info-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__type {
        @include font-base(("WorkSans Regular", sans-serif), 12px, normal, 500, 14px, left, $red, 0 0 4px 0);
    }

    &__title {
        @include font-base(("WorkSans Regular", sans-serif), 20px, normal, 600, 23px, left, $black, 0 0 8px 0);
    }

    &__desc {
        @include font-base(("WorkSans Regular", sans-serif), 12px, normal, 500, 14px, justify, $black, 0 0 20px 0);
    }

    &__date {
        @include font-base(("WorkSans Regular", sans-serif), 12px, normal, 500, 14px, left, $text-secondary);
    }
    &:last-child {
        margin: 0;
    }
}

@keyframes emergence-news {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
