@import "/src/scss/variables";

.news {
    &__why-choose-us {
        font-family: "WorkSans Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: $red;
    }

    &__faq {
        font-family: "Roboto Slab Regular";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__show-more-btn {
        min-width: 100%;
        min-height: 40px;
        color: $red;
        border: 1px solid $red;
        border-radius: 5px;
        background: $white;
        font-family: "Roboto";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 50px;

        &:hover {
            background: $dark-red;
            color: $white;
        }

        &:active {
            transform: translate(1px, 1px);
        }
    }
}

.news-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    transition: 0.2s;
    animation: emergence-news 0.5s ease-in;

    &__img {
        margin-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 8px;
            top: 288px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 40px solid $white;
        }
    }

    &__info-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__type {
        font-family: "WorkSans Regular";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: $red;
        margin-bottom: 4px;
    }

    &__title {
        font-family: "WorkSans Regular";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 8px;
    }

    &__desc {
        font-family: "WorkSans Regular";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: justify;
        margin-bottom: 20px;
    }

    &__date {
        font-family: "WorkSans Regular";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: $text-secondary;
    }
    &:last-child {
        margin: 0;
    }
}

@keyframes emergence-news {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
