@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.block-options {
    &__title {
        @include font-base(("WorkSans Regular", sans-serif), 12px, normal, 600, 14px, left, $red);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: -5px;
            width: 80px;
            height: 1px;
            background-color: $red;
            display: block;
        }
    }

    &__types {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 152px;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 10px 0;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: $border-item-options;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $red;
            border-radius: 20px;
            border: 3px solid $red;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            border-bottom: 1px solid $border-item-options;
            background: $background-item-options;

            input[type="checkbox"] {
                display: none;
            }

            span {
                width: 15px;
                height: 15px;
                background-color: transparent;
                border: 1px solid $red;
                border-radius: 3px;
                position: relative;
                display: inline-block;
            }

            input[type="checkbox"]:checked + span,
            span.checked {
                width: 16px;
                height: 16px;
                border: none;
                background-color: $red;
                background-image: url("../../assets/svg/check.svg");
                background-size: 100% 100%;
            }

            .block-info-options {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    border-radius: 5px;
                }
            }

            .item-options {
                margin-left: 8px;

                &__type,
                &__price {
                    padding: 5px 0;
                }

                &__type {
                    @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 600, 18px, left);
                }

                &__price {
                    @include font-base(("Roboto Slab Regular", sans-serif), 12px, normal, 500, 18px, left, $red);
                }
            }
        }
    }

    &__times {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 22px;

        &__title {
            @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 400, 18px, left, #939598, 0 0 8px 0);
        }

        &__time-values-list {
            display: flex;
            flex-wrap: wrap;

            div {
                label {
                    @include font-base(
                        ("WorkSans Regular", sans-serif),
                        12px,
                        normal,
                        400,
                        18px,
                        left,
                        $black,
                        5px 10px 5px 0
                    );
                    display: inline-block;
                    padding: 6px 12px;
                    border-radius: 5px;
                    background: $light-grey;
                }

                input[type="radio"] {
                    display: none;
                }

                input[type="radio"]:checked + label {
                    background: $red;
                    color: $white;
                }
            }
        }
    }
}
