@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.photo-booth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 15px 10px -4px rgb(50 50 50 / 5%);
    padding: 0 0 18px 0;
    margin: 15px 0;

    &:last-child {
        margin: 0;
    }

    &__desc {
        margin: 50px 0 24px 0;

        .title {
            @include font-base(("WorkSans Regular", sans-serif), 20px, normal, 600, 23px, left, $black, 0 0 5px 0);
        }

        .size {
            @include font-base(("WorkSans Regular", sans-serif), 12px, normal, 500, 14px, left);

            &__value {
                @include font-base(("WorkSans Regular", sans-serif), 12px, normal, 500, 14px, center, $text-secondary);
            }
        }
    }

    &__send {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p {
            @include font-base(("Roboto Slab Regular", sans-serif), 28px, normal, 700, 32px, left);
        }

        button {
            @include font-base(("Roboto", sans-serif), 18px, normal, 700, 21px, center, $white);
            min-width: 167px;
            min-height: 40px;
            background: $red;
            border: none;
            border-radius: 5px;
            padding: 10px;

            &:hover {
                background: $dark-red;
            }

            &:active {
                transform: translate(1px, 1px);
            }
        }
    }
}
