@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.photo-booths {
    display: flex;
    flex-direction: column;

    h1 {
        @include font-base(("Roboto Slab Regular", sans-serif), 32px, normal, 700, 42px, left, $black, 0 0 20px 0);
    }

    &__sort {
        margin-bottom: 15px;

        b {
            @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 500, 16px, left);
        }
        span {
            @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 500, 16px, left, $text-secondary);
        }

        svg {
            margin-left: 12px;
            transform: rotate(0);

            &.rotate {
                transform: rotate(180deg);
                stroke: $red;
            }
        }
    }
}
