@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.photo-booths {
    display: flex;
    flex-direction: column;

    &__sort {
        span {
            @include font-base("WorkSans Regular", 14px, normal, 500, 16px, left, $text-secondary);
        }

        svg {
            margin-left: 12px;
            transform: rotate(0);

            &.rotate {
                transform: rotate(180deg);
                stroke: $red;
            }
        }
    }
}
