@import "/src/scss/variables";
@import "/src/scss/libs/mixins";

.popup-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: $background-popup-news;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup-container {
    min-width: 328px;
    max-height: 540px;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: $border-item-options;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-popup-news;
        border-radius: 10px;
        border: 3px solid $grey;
    }
}

.popup-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
}

/*----------------------- for news ------------------------------ */

.current-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    max-height: 200px;
    padding: 20px;
    position: relative;
    margin-top: 28px;

    &__block-title-date {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__title {
        @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 500, 16px, left, $red);
    }

    &__date {
        @include font-base(("WorkSans Regular", sans-serif), 12px, normal, 500, 14px, right, $text-secondary);
    }

    &__general-title {
        @include font-base(("WorkSans Regular", sans-serif), 24px, normal, 600, 28px, justify, $black, 0 0 12px 0);
    }

    &__description {
        @include font-base(("WorkSans Regular", sans-serif), 16px, normal, 400, 21px, left);
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;
    }
}

/*----------------------- for booth ------------------------------ */

.current-booth-for-order {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 14px;

    &__title-order {
        @include font-base(("Roboto Slab Regular", sans-serif), 32px, normal, 700, 42px, left, $black, 0 0 32px 0);
    }

    &__current-options {
        margin-bottom: 25px;

        &::after {
            content: "";
            display: block;
            width: 300px;
            height: 1px;
            background-color: #d5dae0;
            margin-top: 16px;
            opacity: 0.7;
        }
    }

    &__booth-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding-right: 8px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .title {
                @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 600, 18px, left);
            }

            .size {
                @extend .title;
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;

                .value-size {
                    @extend .size;
                    color: $text-secondary;
                }
            }
        }

        p {
            @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 600, 18px, right);
        }
    }

    &__booth-times {
        margin-bottom: 30px;

        select {
            @include font-base(("WorkSans Regular", sans-serif), 16px, normal, 400, 24px, center);
            border-radius: 5px;
            border-color: $grey;
            background: $white;
            padding: 4px;
        }
    }

    &__selected-options {
        display: flex;
        flex-direction: column;
        max-height: 135px;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 10px 0;
        padding: 5px 0;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: $border-item-options;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $background-popup-news;
            border-radius: 20px;
            border: 3px solid $background-popup-news;
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;
            padding-right: 5px;

            &:last-child {
                margin: 0;
            }

            p {
                @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 600, 18px, left);
            }

            span {
                @extend p;
            }
        }

        p {
            @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 600, 18px, center);
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;

        p {
            @include font-base(("WorkSans Regular", sans-serif), 20px, normal, 600, 23px, left);
        }

        span {
            @include font-base(("Roboto Slab Regular", sans-serif), 32px, normal, 500, 42px, right);
        }
    }

    &__phone {
        position: relative;

        input {
            width: 100%;
            min-height: 40px;
            border-color: $red;
            border-radius: 5px;
            text-indent: 5px;
            margin-bottom: 12px;
        }

        div {
            position: absolute;
            top: 6px;
            right: 8px;
            padding: 4px 12px;
            border-radius: 5px;
            background: $light-grey;

            span {
                @include font-base(("WorkSans Regular", sans-serif), 14px, normal, 400, 16px, center);
            }

            svg {
                margin-left: 5px;
            }
        }
    }

    button {
        width: 100%;
        min-height: 40px;
        background: $red;
        border: none;
        border-radius: 5px;
        padding: 10px;

        @include font-base("Roboto", 18px, normal, 700, 21px, center, $white);

        &:hover {
            background: $dark-red;
        }

        &:active {
            transform: translate(1px, 1px);
        }
    }
}

/*----------------------- btn close popup ------------------------------ */

.btn-close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    color: #8c8787;
    font-size: 32px;
    border-radius: 5px;
}
