@import "/src/scss/variables";

.popup-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: $background-popup-news;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup-container {
    min-width: 320px;
    padding: 0 12px;
    max-height: 540px;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: $border-item-options;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-popup-news;
        border-radius: 10px;
        border: 3px solid $grey;
    }
}

.popup-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
}

/*----------------------- for news ------------------------------ */

.current-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    padding: 20px;
    position: relative;

    &__block-title-date {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__title {
        font-family: "WorkSans Regular";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: $red;
    }

    &__date {
        font-family: "WorkSans Regular";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: right;
        color: $text-secondary;
    }

    &__general-title {
        .title {
            font-family: "WorkSans Regular";
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: justify;
        }
    }

    &__description {
        font-family: "WorkSans Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
}

/*----------------------- for booth ------------------------------ */

.current-booth-for-order {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;

    &__title-order {
        font-family: "Roboto Slab Regular";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 32px;
    }

    &__current-options {
        margin-bottom: 25px;

        &::after {
            content: "";
            display: block;
            width: 280px;
            height: 1px;
            background-color: #d5dae0;
            margin-top: 16px;
        }
    }

    &__booth-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding-right: 8px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .title {
                font-family: "WorkSans Regular";
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
            }

            .size {
                @extend .title;
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;

                .value-size {
                    @extend .size;
                    color: $text-secondary;
                }
            }
        }

        p {
            font-family: "WorkSans Regular";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: right;
        }
    }

    &__booth-day {
        margin-bottom: 30px;
    }

    &__selected-options {
        ul {
            display: flex;
            flex-direction: column;
            max-height: 185px;
            overflow-x: hidden;
            overflow-y: auto;
            margin: 10px 0;
            padding: 5px 0;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background: $border-item-options;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $background-popup-news;
                border-radius: 20px;
                border: 3px solid $background-popup-news;
            }

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 32px;
                padding-right: 5px;

                &:last-child {
                    margin: 0;
                }

                p {
                    font-family: "WorkSans Regular";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                span {
                    @extend p;
                }
            }
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;

        p {
            font-family: "WorkSans Regular";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
        }

        span {
            font-family: "Roboto Slab Regular";
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: right;
        }
    }

    &__phone {
        margin-bottom: 12px;
        position: relative;

        input {
            width: 100%;
            min-height: 40px;
            border-color: $red;
            border-radius: 5px;
            text-indent: 10px;
        }

        div {
            position: absolute;
            top: 6px;
            right: 8px;
            padding: 4px 12px;
            border-radius: 5px;
            background: $light-grey;

            span {
                font-family: "WorkSans Regular";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;
            }

            svg {
                margin-left: 5px;
            }
        }
    }

    button {
        width: 100%;
        min-height: 40px;
        color: $white;
        background: $red;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-family: "Roboto";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;

        &:hover {
            background: $dark-red;
        }

        &:active {
            transform: translate(1px, 1px);
        }
    }
}

/*----------------------- btn close popup ------------------------------ */

.btn-close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    color: #8c8787;
    font-size: 32px;
    border-radius: 5px;
}
