@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "/src/scss/variables";

.image-gallery-slide {
    left: 0;
    position: absolute;
    top: 0;

    &.center {
        position: relative;
    }

    .image-gallery-image {
        width: 100%;
        object-fit: contain;
    }
}

.image-gallery-slide-wrapper {
    position: relative;

    &.left,
    &.right {
        display: inline-block;
        width: calc(100% - 110px); // 100px + 10px for margin

        @media (max-width: $ig-small-screen) {
            width: calc(100% - 87px); // 81px + 6px for margin
        }
    }
    &.image-gallery-rtl {
        direction: rtl;
    }
}

.image-gallery {
    max-width: 375px;
}

.image-gallery-svg {
    background: #0000003d;
    border-radius: 5px;
    stroke: $white;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
    padding: 50px 4px;
    top: 50%;
    transform: translateY(-50%);

    .image-gallery-svg {
        height: 120px;
        width: 60px;
    }

    @media (max-width: $ig-small-screen) {
        .image-gallery-svg {
            height: 60px;
            width: 60px;
        }
    }

    @media (max-width: $ig-xsmall-screen) {
        .image-gallery-svg {
            height: 40px;
            width: 40px;
        }
    }

    &[disabled] {
        cursor: disabled;
        opacity: 0.6;
        pointer-events: none;
    }
}

.image-gallery-bullets {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 80%;
    z-index: 4;
    top: 270px;

    .image-gallery-bullets-container {
        padding: 0;
        text-align: center;
    }

    .image-gallery-bullet {
        background: #d5dae0;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        outline: none;
        padding: 5px;
        transition: all 0.2s ease-out;
        width: 8px;
        height: 4px;

        @media (max-width: $ig-small-screen) {
            margin: 0 3px;
            padding: 3px;
            background: #d5dae0;
            border-radius: 40%;
            box-shadow: none;
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            outline: none;
            padding: 5px;
            transition: all 0.2s ease-out;
            width: 12px;
            height: 4px;
        }

        @media (max-width: $ig-xsmall-screen) {
            padding: 2.7px;
        }

        &:focus {
            transform: scale(1.2);
            background: $red;
        }

        &.active {
            transform: scale(1.2);
            background: $red;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: $red;
            }

            &.active:hover {
                background: $red;
            }
        }
    }
}