$black: #131313;
$white: #fff;
$grey: #939598;
$red: #ee3d48;
$light-red: #e79a9f;
$dark-red: #832c32;
$light-grey: #f1f2f2;
$text-secondary: #6a6a6a;
$background-item-options: #fafafa;
$border-item-options: #ebebeb;
$background-popup-news: #777777;
